<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home</title>

    <link rel="stylesheet" href="{% static 'core/css/core.css' %}" />
  </head>
  <body>
    <div class="main">
      <div class="sidebar">
        <div class="photoname">
          <div class="circle">
            <img
              src="{% static 'core/images/ayu.jpg' %}"
              class="mypic"
              alt=""
            />
          </div>
          <h1 class="myname">Ayushi Jain</h1>
          <hr />
        </div>
        <div class="links">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">Services</a>
            </li>
            <li>
              <a href="#">Skills</a>
            </li>
            <li>
              <a href="#">content</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="line">

      </div>
      <div class="content">

        <div class="home">

          <div class="photo" >
            <img src="{% static 'core/images/anshi.jpg' %}" class="mypic2" alt="">
          </div>
          <div class="about">
            <h2>
                Hello,
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam quasi tempora, fuga aspernatur doloribus, ex ratione quae, voluptas iure magnam dolore sequi neque? Ea ipsum corporis, fugiat officiis qui error?
            Quidem ut quisquam autem porro consectetur possimus. Quam nobis, aperiam voluptatum officiis molestias temporibus est adipisci vero delectus vitae eveniet possimus eius enim. Adipisci consequuntur mollitia doloribus quisquam id consectetur?
            Omnis iure illo alias eius nisi neque debitis corrupti. Similique aliquam, dignissimos nequ libero nam minus quam tenetur vel! Facere nemo sequi praesentium expedita saepe.</p>
          </div>
          <div class="buttons">
            <button class="hire">Hire Me</button>
            <button class="contact">Contact</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
