{% extends 'core/links.html' %} {% block content %} {% load static %}
<div class="home">
  <div class="photo">
    <img src="{% static 'core/images/anshi2.jpg' %}" class="mypic2" alt="" />
  </div>
  <div class="about">
    <h2>Hello,</h2>
    <p>
      
      I'm <span style="font-weight: bold; color: yellow;"> Ayushi Jain</span>, hailing from Chhatarpur, M.P . In 2023, I successfully completed my post-graduation, earning an MSc degree. <br/>
      
      My journey includes the completion of my MSc, providing me with a robust foundation and honing my skills. <br/>
      I possess a strong grasp of the <span style="font-weight: bold; color: red;">Python programming language </span>and a solid understanding of <span style="font-weight: 600; color: red;">Django</span>, <span style="font-weight: 600; color: red;">Flask</span>,<span style="font-weight: 600; color: red;">Git</span>, and <span style="font-weight: 600; color: red;">MySQL</span>  <span style="font-weight: 600; color: red;">database</span>. I've primarily worked within a Windows environment, refining my proficiency.<br/><br/>
      I've dedicated considerable effort to enhancing my abilities. Through Python, I've undertaken various projects utilizing Django and Flask. Engaging with Git and MySQL database has significantly broadened my skill set.<br/>
      My aim is to further elevate my skills and become a proficient web developer. I'm eager to embrace new challenges and learn from each project I undertake.<br/>

      I'm ready for new opportunities! Let's connect and explore innovative projects together.


    </p>
  </div>
  <div class="buttons">
    <!-- <button class="hire">Hire Me</button> -->
    <a href="{% url 'contact' %}">
    <button class="contact">Hire Me</button></a>
    <a href="{% static 'core/ayushi.pdf' %}">
    <button class="hire">Resume</button>

    </a>

    
  </div>
</div>

{% endblock content %}
