{% extends 'core/links.html' %} {% block content %} {% load static %}
<div class="home">
  <div class="photo">
    <img src="{% static 'core/images/anshi.jpg' %}" class="mypic2" alt="" />
  </div>
  <div class="about">
    <h2>Hello,</h2>
    <p>
      I am Ayushi Jain 
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam quasi
      tempora, fuga aspernatur doloribus, ex ratione quae, voluptas iure magnam
      dolore sequi neque? Ea ipsum corporis, fugiat officiis qui error? Quidem
      ut quisquam autem porro consectetur possimus. Quam nobis, aperiam
      voluptatum officiis molestias temporibus est adipisci vero delectus vitae
      eveniet possimus eius enim. Adipisci consequuntur mollitia doloribus
      quisquam id consectetur? Omnis iure illo alias eius nisi neque debitis
      corrupti. Similique aliquam, dignissimos nequ libero nam minus quam
      tenetur vel! Facere nemo sequi praesentium expedita saepe.
    </p>
  </div>
  <div class="buttons">
    <button class="hire">Hire Me</button>
    <button class="contact">Contact</button>
    <a href="{% static 'core/ayushi.pdf' %}">
    <button class="hire">Resume</button>

    </a>

    
  </div>
</div>

{% endblock content %}
