
{% extends 'core/links.html' %} {% block content %} {% load static %}

<div class="services">
    <h1>Services</h1>
    <hr>
    <div class="divisions">
        <div class="divs"><span class="material-symbols-outlined">
            web
            </span>
            <h2>Web Development</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ratione similique ullam .</p>
    </div>
        <div class="divs"><span class="material-symbols-outlined">
            dns
            </span>
            <h2>Backend Development</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ratione similique ullam </p>
    </div>
        <div class="divs"><span class="material-symbols-outlined">
            full_stacked_bar_chart
            </span>
            <h2>Full Satck Development</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ratione similique ullam </p>
    </div>
        <div class="divs"><span class="material-symbols-outlined">
            database
            </span>
            <h2>DBMS</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ratione similique ullam </p>
    </div>
        <div class="divs"><span class="material-symbols-outlined">
            cloud
            </span><h2>DevOps</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ratione similique ullam </p>
    </div>
    <div class="divs"><span class="material-symbols-outlined">
        cloud
        </span><h2>DevOps</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta ratione similique ullam </p>
</div>
    </div>
    </div>
</div>
{% endblock content %}
