
{% extends 'core/links.html' %}
{% block content %} 


<div class="services">
    <h1>Services</h1>
    <hr>
    <div class="divisions">
        <div class="divs"><span class="material-symbols-outlined">
            web
            </span>
            <h2>Web Development</h2>
        <p>As a newcomer in the tech realm, my service in web development echoes my passion for coding. I aspire to craft innovative, responsive websites while continuously learning and honing my skills.</p>
    </div>
        <div class="divs"><span class="material-symbols-outlined">
            dns
            </span>
            <h2>Backend Development</h2>
        <p>Starting out as a backend developer, I'm learning to build the hidden parts of websites and apps. My goal is to create strong, efficient systems, even as I navigate the early stages of this exciting field.</p>
    </div>
    <div class="divs"><span class="material-symbols-outlined">
        code
        </span><h2>Python Programming</h2>
            <p>Specializing in Python programming, I design robust and innovative solutions, leveraging its versatility for seamless automation and powerful data-driven applications.</p>
        </div>
          
        <div class="divs"><span class="material-symbols-outlined">
            database
            </span>
            <h2>DBMS</h2>
        <p>Exploring the world of database management systems, I aim to organize and optimize data, ensuring smooth information flow for applications and websites.</p>
    </div>
            
        <div class="divs"><span class="material-symbols-outlined">
            full_stacked_bar_chart
            </span>
    <h2>Full Satck Development</h2>
    <p>Diving into full stack development, I'm learning to craft both the visible and hidden parts of websites, aiming to create seamless digital experiences. </p>
</div>
    <div class="divs"><span class="material-symbols-outlined">
        code
        </span><h2>Django Developer</h2>
    <p>
        Specializing in Django development, I engineer web solutions that marry robust functionality with elegant design, ensuring scalable and efficient applications. </p>
</div>
    </div>
    </div>
</div>
{% endblock content %}
