@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");
/* font-family: 'Carattere', cursive; */

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body,

html {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: grey;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: rgb(16, 33, 44);
  display: flex;
  flex-direction: row;
  align-items: center;
}


.sidebar {
  width: 20%;
  height: 100%;
  background-color: rgb(41, 46, 41);
  position: fixed;
  border-right: 2px solid orange;
}

.just {
  width: 20%;
  height: 100%;
  background-color: rgb(41, 46, 41);

}


.content {
  width: 80%;
  height: fit-content;
  background-color: rgb(16, 33, 44);
  display: flex;
  align-items: flex-start;
  justify-content: center;

}

.photoname {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0 0;
  color: white;
}

.icons {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icons img {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  transition: 0.5s ease;
}

.icons img:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px white;
}

hr {
  width: 100%;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 5px solid white;
  box-shadow: 0 0 10px white;
}

.mypic {
  width: 300px;
}

.photoname .myname {
  font-family: "Carattere", cursive;
  font-size: 50px;

  margin: 20px 0 20px 0;
}

.links {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: sans-serif;
  font-weight: 500;
}

.links ul {
  list-style-type: none;
  width: 100%;
  height: fit-content;
}

.links ul li {
  width: 100%;
  height: 50px;
  margin: 2px;
}

.links ul li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-size: 20px;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.links ul li a:hover {
  background-color: orange;
  color: black;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.photo {
  width: 250px;
  height: 250px;
  background-color: aqua;
  overflow: hidden;
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  box-shadow: 0 0 10px purple;
}

.mypic2 {
  width: 290px;
}

.about {
  width: 100%;
  height: 300px;

  padding: 0 5%;
}

.about h2 {
  font-family: "Carattere", cursive;
  color: white;
  font-size: 50px;
}

.about p {
  font-family: 'Lemon', serif;
  color: white;
  font-size: 17px;
}

.buttons {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons .hire,
.buttons .resume,
.buttons .contact {
  height: 40px;

  width: 80px;
  border: 2px solid orange;
  color: orange;
  background-color: transparent;
  margin: 30px;
}

.buttons .hire:hover,
.buttons .contact:hover {
  box-shadow: 0 0 10px orange;
}

.contact1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  font-family: sans-serif;
  padding: 50px;
  /* margin-top: 50px; */
  /* overflow-y: hidden; */
}

.ch1 {
  width: 100%;
  height: 60px;

  color: orange;
}

hr {
  width: 100%;
}

.ch3 {
  width: 100%;
  height: 20px;

  color: white;
  margin: 5px 0 30px 0;
}

.combine {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

form {
  width: 68%;
  height: 100%;
  display: flex;

  flex-direction: column;
  font-family: sans-serif;
  font-weight: 700;
  letter-spacing: 1.1;
  margin-top: 20px;
}

.callme {
  width: 30%;
  height: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;

}

.boxes {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: orange;
  margin-bottom: 40px;

}

.boxes span {
  font-size: 60px;

}

.boxes p {
  font-size: 15px;
  font-weight: 500;
  color: white;

}

.teil {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teil input {
  width: 49%;
  height: 100%;
  padding: 5px;
}

.no {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  margin: 15px 0 0 0;
}

.no input {
  width: 49%;
  height: 100%;
  padding: 5px;
}

.message {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-start;
  margin: 15px 0 0 0;
}

.message textarea {
  width: 100%;
  height: 100%;
  text-align: start;
  padding: 5px;
}

.btn {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  margin: 15px 0 0 0;
}

.btn button {
  height: 100%;
  width: 120px;
  background-color: transparent;
  border: 2px solid orange;
  color: orange;
}

.btn button:hover {
  box-shadow: 0 0 10px orange;


}


.services {
  width: 100%;
  height: fit-content;
  /* background-color: red; */
  margin-top: 150px;
  padding: 50px;
  font-family: sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}

.services h1 {
  color: orange;
  font-size: 40px;
}

.divisions {
  margin-top: 50px;
  width: 100%;
  height: fit-content;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.divs {
  height: 220px;
  width: 40%;
  border-radius: 12px;
  background-color: rgb(94, 72, 31);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
  /* box-shadow: 8px 8px 8px rgba(175, 175, 175, 0.637); */
}

.divs span {
  display: inline-block;
  color: greenyellow;
  font-size: 40px;
}

.divs h2 {
  font-size: 30px;
  margin-bottom: 10px;

}

.divs p {
  font-size: 15px;

}

.skills {
  width: 100%;
  height: 100vh;

  padding: 40px;
  padding-inline: 60px;



}

.wrap {
  display: flex;
  margin-top: 20px;
}

.skills h1 {
  border-bottom: 2px solid white;
  color: orange;

}

.progress {
  width: 100%;
  height: fit-content;

  display: flex;
  gap: 10px;
}

.left p, .right p {
  font-size: 18px;
  margin-bottom: -10px;
  color: white;
}


.left, .right {
  width: 50%;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.outer {
  height: 15px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
}

.inner {
  height: 15px;
  width: 80%;
  background-color: #5CB3FF;
  border-radius: 10px;
}




@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main {
    width: 100%;
  }

  .home {
    width: 100%;
  }
}